body{
	background-image: url(https://png.pngtree.com/background/20210711/original/pngtree-national-games-sports-storm-poster-background-material-picture-image_1070690.jpg);
    background-size: cover;
	backgroundd-repeat: no-repeat;
	background-position: left-side;
	/*background-attachmentd: fixed;*/
	text-align:center;
	padding: 5px;
	height : 900px;
}
	

.container {
  text-align: center;
  margin: 50px auto;
}

h1 {
  font-size: 32px;
}

button {
  background-color:#008CBA;
  padding:10px;
  border-radius:20px;
  font-size: 15px;
  color: black;
  cursor: pointer;
}
button:focus {
	outline:0;
}

button i.fa {
  /* change the color of the icon */
  color: #3366cc;
}


#text-input {
  align : center;
  margin-top: 20px;
  border-radius:20px;
  padding: 10px;
  font-size: 24px; 
  width: 400px;
  
          /*   padding: 10px;
			font-size: 1.2rem;
			border-radius: 5px;
			border: none;
			box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
			width: 100%;
			margin-top: 10px;
			margin-bottom: 20px;
			box-sizing: border-box;
			position: relative;*/
}
fieldset{
	text-align: center;
	border:none;
	padding:2rem 0;
	border-bottom:3px;
}

.hidden {
  display: none;
}

#processing-msg {
  margin-top: 20px;
  font-size: 24px;
}

#answer {
  text-align: center;
  margin-top: 20px;
  font-size: 24px;
  font-weight: bold;
  color: black;
}

#answer-box {
  margin-top: 20px;
  font-size: 24px;
  border: 1px solid #ccc;
  padding: 10px;
  width: 400px;
  display: none; /* add this line */


#speech-icon {
			position: absolute;
			right: 10px;
			top: 50%;
			transform: translateY(-50%);
			font-size: 1.5rem;
			color: #007bff;
			cursor: pointer;
		}
		#speech-icon:before {
			content: "\1F399";
	input[type="text"] {
			padding: 10px;
			font-size: 1.2rem;
			border-radius: 5px;
			border: none;
			box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
			width: 100%;
			margin-top: 10px;
			margin-bottom: 20px;
			box-sizing: border-box;
			position: relative;
			
form {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: center;
		}
		label {
			font-size: 1.2rem;
			margin-top: 20px;
